%p
  %b Login:
  = @user.login
%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Age:
  = @user.age

= link_to 'Edit', edit_user_path(@user)
= link_to 'Playlists', { :controller => :users, :action => :playlists, :id => @user }
= link_to 'Back', users_path