<p>
  <b>Title:</b>
  <%=h @audio_file.title %>
</p>

<p>
  <b>Author:</b>
  <%=h @audio_file.author %>
</p>

<p>
  <b>Date:</b>
  <%=h @audio_file.date %>
</p>

<p>
  <b>Price:</b>
  <%=h @audio_file.price %>
</p>


<!-- <%= link_to 'Edit', edit_audio_file_path(@audio_file) %> | -->
<%= link_to 'Parts', { :controller => :audio_files,
                      :action => :parts,
                      :id => @audio_file } %> |
<%= link_to 'Back', audio_files_path %>
